.head-cart {
    height: 200px;
    background-color: black;
}
.container-cart {
    background: url("https://w.wallhaven.cc/full/9d/wallhaven-9dyvok.jpg");
}
.content-cart {
    min-height: 600px;
    background-color: #171717;
    display: flex;
    justify-content: center;
    border: 2px solid #171717;
    border-radius: 10px;
    overflow: hidden;
}
.ct-content-cart {
    padding-top: 150px;
}
.title-cart {
    font-size: 25px;
}
.title-total-cart {
    font-size: 25px;
}
.payment-content {
    background-color: #282828;
    /*border: 1px solid #5e5e5e;*/
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;

}
.ins-payment-content {

}
.ins-payment-content span {
    font-size: 18px;
}
.item-cart {
    border: 1px solid #626262;
    border-radius: 10px;
    /*height: 150px;*/
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}
.img-cart-item {
    height: 110px;
    width: 193px;
}
.p-content-cart {
    text-decoration: none;
}
.p-content-cart span {
    font-size: 20px;
}
.ct-img-cart {
    /*padding-left: 18px;*/
}
.ct-right {
    flex-wrap: wrap;
}
.ct-remove-cart {
    border-top: 1px solid #626262;
}
.cus-delete-cart {
    color: #ffffffbd;
    cursor: pointer;
    transition: color 0.3s ease;
}
.cus-delete-cart:hover {
    color: #DC3545;
}
.total-a {
    border-top: 1px solid #626262;
}
.btn-pay {
    border-radius: 7px;
    height: 45px;
    background-color: #f25706;
    font-size: 19px;
    color: #e8e8e8;
    cursor: pointer;
}

.btn-paypal {
    border-radius: 7px;
    height: 45px;
    background-color: #626262;
    font-size: 19px;
    color: #e8e8e8;
    cursor: pointer;
    margin-bottom: 20px;
}

.cus-empty-cart {
    margin-top: 180px;
    font-size: 25px;
    text-align: center;
}