body {
    background: black;
}

* {
    font-family: "Roboto Condensed", sans-serif;
}

.w-wrap {
    word-wrap: break-word;
}
.w-bg-grey {
    background-color: #282828;
}
.w-bold {
    font-weight: bold;
}