body {
    background: black;
}

* {
    font-family: "Roboto Condensed", sans-serif;
}

.w-wrap {
    word-wrap: break-word;
}
.w-bg-grey {
    background-color: #282828;
}
.w-bold {
    font-weight: bold;
}
.c-p-0 {
    padding: 0px;
}
.c-mb-0 {
    margin-bottom: 0px;
}
.c-r-wrap {
    flex-wrap: wrap;
}