

.head-course {
    height: auto;
    background-color: #282828;
}

.cus-head-content {
    padding-top: 79px;

    flex-wrap: wrap;
}

.k-row {
    flex-wrap: wrap;
    width: 100%;
}

.custom-card-course {

}

.cus-title-card {
    color: #ffffffbd;
    padding-left: 5px;
    text-decoration: none;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.k-product-course {
    padding-bottom: 102px;
}

.custom-img {
    border-radius: 15px;
    width: 100%;
    height: 200px;
    /*width: 299px;*/
    /*height: 178px;*/
    transition: transform 0.3s ease;
}

.custom-img:hover {
    transform: scale(1.1);
}

.container-img-p {
    margin-bottom: 8px;
    overflow: hidden;
    border-radius: 15px;

    position: relative;
}


.custom-price-p {
    color: white;
    padding-left: 5px;
    margin-top: 5px;
}


/*hover card*/

.overlay-card {
    position: absolute; /* Vị trí tuyệt đối để lớp màu đen nhẹ chồng lên ảnh */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Màu đen nhẹ trong suốt */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển động */
    pointer-events: none; /* Đảm bảo sự kiện không ánh xạ xuống lớp màu */
}

.container-img-p:hover .overlay-card {
    background-color: rgba(0, 0, 0, 0.4); /* Khi hover, màu đen nhẹ sẽ trở nên rõ hơn */
}

/*price*/

.custom-price-p span {
    /*background-color: #f25706;*/
    border-radius: 4px;
    padding: 0px 8px 3px 0px;
    font-size: 18px;
    color: #ffffff7d;
}

.filter-p {
    margin-bottom: 35px;
    margin-left: 34px;
}

.custom-text-search {
    background: #ffffff29;
    border: none;
    border-radius: 5px;
    height: 38px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
input.custom-text-search::placeholder {
    color: #a2a2a2;
}

.custom-text-search:focus {
    outline: none;
}

.custom-btn-search-light {
    background-color: transparent;
    border: 1px solid #a2a2a2;
    border-radius: 5px;
    color: #a2a2a2;
    height: 38px;
    margin-left: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-btn-search-light:hover {
    background-color: #cccbcb;
    border-color: #cccbcb;
    color: black;
}

.custom-select-search {
    background-color: transparent;
    border: 1px solid #a2a2a2;
    border-radius: 5px;
    color: #a2a2a2;
    height: 38px;
    margin-left: 10px;
    padding: 0 5px;
}

.custom-select-search:focus {
    outline: none;
}

.custom-select-search option {
    background-color: black;
}
@media screen and (max-width: 1400px) {
    .custom-img {
        height: 148px;
    }
}

@media screen and (max-width: 1200px) {
   .custom-img {
       height: 120px;
   }
}

@media screen and (max-width: 768px) {
    .custom-img {
        height: 174px;
    }
}
.side-bar {
    padding: 40px 15px 20px 20px;
    min-height: 200px;
    background-color: #282828;

}
.primary-content-course {
    padding: 40px 0px 0px 0px;
    background-color: #282828;
}

.w-color-1 {
    color: white;
}
.w-color-2 {
    color: #ffffffbd;
}
.w-color-3 {
    color: #ffffff7d;
}
.title-filter-course {
    border-bottom: 2px solid #ffffffbd;
}
.w-filter-c {
    cursor: pointer;
}

.cus-ban-1 {
    background: linear-gradient(to top, rgba(0, 0, 0, 10%) 75%, #000000 102%, #000000fa 10%), url("https://www.audiobuzz.com/wp-content/uploads/2022/05/music-for-commercials-and-ads-1728x890.jpg?1657640894");
    height: 200px;
    border-radius: 5px;
    background-size: cover;

}
.c-b-1 {
    background-color: #282828;
    flex-wrap: wrap;
}
@media screen and (max-width: 992px){
    .c-b-1 {
        padding: 0px 20px;
    }

}
.container-filter-2 {
    display: flex;
    flex-wrap: wrap;
}
.container-filter-2 span {
    color: #a2a2a2;
}
.block-filter {
    padding: 0px 10px;
    flex-wrap: wrap;
}

.page-item a {
    color: #9f9f9f;
    background-color: #ffffff29;
    border: none;
}
.page-item a:hover {
    color: white;
    background-color: #7a7a7a;
    border-color: #7a7a7a;
}
.page-link.disabled, .disabled > .page-link {
    color: #4b4b4b;
    background-color: rgb(56, 56, 56);
    border-color: rgb(56, 56, 56);
}
.page-link.active, .active > .page-link {
    background-color: #7a7a7a;
    border-color: #7a7a7a;

}
.page-item .active {

}
.pagination li {
    padding-right: 1px;
}
.pagination {
    --bs-pagination-focus-box-shadow: none
}
.cus-t-user {
    padding-left: 5px;
    margin-bottom: 0px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.3);
}
.c-user-i {
    color: rgba(255, 255, 255, 0.3);
    font-size: 15px !important;
    padding-left: 3px;
}
.vss {
    color: white;
    cursor: pointer;
}