.s1k {
    background-color: transparent !important;

}


.k-brand {
    font-size: 25px !important;
    color: white !important;
    cursor: pointer;
    transition: color 0.3s ease;
}

.k-brand:hover {
    color: #EE5007 !important;
}

.s2k {
    background-color: black !important;

}


.fixed-top button{
    color: #797979;
    background-color: #585858;
}

@media screen and (max-width: 992px){
    .navbar {
        background-color: black !important;
    }
}

.head-tag a {
    font-size: 18px !important;
    color: white !important;
    transition: color 0.3s ease;
}

.head-tag a:hover {
    color: #EE5007 !important;
}
.login-btn-head {
    color: white;
    margin-bottom: 0px;
    font-size: 17px;
    background-color: #EE5007;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    position: relative;
    min-width: 71px;
}
.ct-dropdown-login {
    background-color: white;
    position: absolute;
    min-width: 180px;
    top: 48px;
    border-radius: 5px;
    overflow: hidden;
}
.ct-dropdown-login p {
    padding: 10px 10px;
    margin-bottom: 0px;
    background-color: white;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.ct-dropdown-login p:hover {
    background-color: #d5d4d4;
}

.icon-cart-head {
    color: white;
    font-size: 30px !important;
    cursor: pointer;
    transition: color 0.3s ease;
}
.icon-cart-head:hover {
    color: #EE5007;
}
.circle-cart-quan {
    background-color: #EE5007;
    border-radius: 50px;
    overflow: hidden;
    padding: 1px 10px;
    scale: 0.7;
}
.circle-cart-quan p {
    margin-bottom: 0px;
    color: white;
}
.cus-title-nav {
   padding: 8px 8px;
    margin-bottom: 0px;
}
.head-tag a {
    padding: 0px 0px !important;
}